@import "../../variables.scss";

.track-container {
    margin: 4em 2em;

    .error-case {
        text-align: center;
        i {
            font-size: $large;
        }
    }

    .success-case {

        .success-header {
            display: flex;
            justify-content: space-between;
            background-color: $lightGray;
            padding: 1em;

            div {
                display: flex;
                align-items: center;
    
                span {
                    font-size: $medium;
                }
            }
    
            .fa-ship {
                margin-right: 10px;
            }
    
            .fa-handshake {
                margin-left: 20px;
            }
    
            .fa-wifi, .fa-handshake {
                cursor: pointer;
                color: $blue;
            }
    
            i {
                font-size: $large;
            }
        }

        .success-body {
            min-height: 500px;
            display: flex;
            justify-content: center;
            padding: 1em;
            box-shadow: 0px 8px 12px $borderGray, -10px -1px 22px $borderGray, 5px -1px 7px $borderGray;

            .status-wrapper {
                display: flex;
                overflow-x: auto;

                .status-item {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    margin-top: 1em;

                    .status-top {

                        .location-type {
                            font-size: $small;
                            text-align: center;
                        }

                        .country {
                            display: flex;
                            align-items: center;

                            img {
                                border: 1px solid $lightGray;
                                width: 25px;
                            }

                            span {
                                margin-left: 6px;
                            }
                        }
                    }

                    .status-bottom {
                        text-align: center;

                        .departure-info {
                            text-align: left;
                            display: inline-block;
                            margin: 10px 20px 0;
                        }

                        .shipment-info {
                            display: flex;
                            align-items: center;
                            margin: 3px 0;

                            .shipment-key {
                                color: $gray;
                                font-size: $extraSmall;
                            }

                            .shipment-value {
                                color: $lightBlack;
                                font-size: $small;
                            }

                            i {
                                width: 30px;
                            }

                            p {
                                margin: 0;
                            }
                        }

                        p {
                            margin: 0;
                        }

                        .line-light {
                            color: $grayChateau;
                            font-size: $smallRelative;

                            &.with-margin {
                                margin-top: 10px;
                            }
                        }

                        .line-dark {
                            color: $doveGray;

                            &.with-margin {
                                margin: 5px 0 10px;
                            }
                        }

                        &:hover {
                            .toggle-part {
                                display: block;
                            }
                        }

                        .toggle-part {
                            display: none;
                        }

                        .static-part {
                            i {
                                margin-right: 6px;
                            }
                        }
                    }
                }

                .status-connector {
                    display: flex;
                    align-items: center;

                    .status-dot {
                        width: 10px;
                        height: 20px;
                        background-color: $blue;
                        margin: 5px 0;
                        border-radius: 20px;
                    }

                    .status-dash {
                        margin: 5px 0;
                        width: 100px;
                        height: 10px;
                        background-color: $blue;
                    }
                }                
            }
        }
    }
}