
@import "../variables.scss";

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $blue;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: $white;

    a {
        text-decoration: none;
        color: $white;
    }

    img {
        width: 95px;
    }
}