
$blue: #00A1F7;
$white: #FFFFFF;
$lightBlack: rgba(0, 0, 0, 0.87);
$gray: #808080;
$lightGray: #EDEDED;
$borderGray: #BFBFBF;
$grayChateau: #A6A8AA;
$doveGray: #707070;

$extraSmall: 9.6px;
$small: 12px;
$smallRelative: 0.8em;
$medium: 1.4em;
$large: 2em;